:root {
    --primary: #0d253f;
    --tertiary: #90cea1;
    --shadow: #628c6d;
    --highlight: #beffd5;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary);
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.favorites {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    position: sticky;
    top: 0;
    background-color: var(--primary);
    z-index: 1;

}

.favorites img {
    width: 50px;
}

button.favorites-list {
    width: 112px;
    margin: 0;
    background-color: var(--tertiary);
    border-radius: 5px;
    border: none;
    color: var(--primary);
    padding: 10px 20px;
    cursor: pointer;
    letter-spacing: 2px;
}

.search-bar {
    margin: 20px auto 40px;
    max-width: 400px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 20px;
    z-index: 1;
}

.search-bar input {
    height: 40px;
    width: 255px;
    border: none;
    padding: 0 0 0 10px;
    outline: none;
    box-shadow: inset 2px 2px 10px grey,
        inset -2px -2px 10px grey;
}

.search-bar button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: var(--tertiary);
    border-radius: 0 20px 20px 0;
    color: var(--primary);
    font-size: 16px;
    padding: 0 7px 0 0;
    cursor: pointer;
}

.search-bar select {
    appearance: none;
    background-color: var(--tertiary);
    border: none;
    padding: 10px 5px 10px 15px;
    border-radius: 20px 0 0 20px;
    color: var(--primary);
    height: 40px;
}

.search-bar select:hover {
    cursor: pointer;
}

.movie-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}

.movie {
    width: 280px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    color: white;
    position: relative;
}

.movie h3 {
    font-weight: 700;
}

.movie button.watchlist {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 35px;
    padding: 5px 5px 4px 5px;
    border-radius: 50px;
}

.movie button.watchlist i {
    color: white;
    font-size: 20px;
}

.movie img {
    height: 375px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px #0c1e31;
}

.movie button {
    width: 40%;
    margin: 0 auto;
    background-color: var(--tertiary);
    border-radius: 5px;
    border: none;
    color: var(--primary);
    padding: 10px 20px;
    cursor: pointer;
    letter-spacing: 1px;
}

a.top {
    text-decoration: none;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

a.top i {
    font-size: 30px;
}

a.top:active {
    color: var(--tertiary);
}

button.favorites-list:active,
.search-bar button:active,
.search-bar select:active,
.movie button:active {
    box-shadow: inset 3px 3px 10px var(--shadow),
        inset -3px -3px 10px var(--highlight);
}

.movie button:active,
button.favorites-list:active {
    transform: scale(0.95);
}

.load-error {
    height: 100vh;
    width: 100vw;
    background-color: rgba(49, 49, 49, 0.8);
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 2;
}

.load-error h3 {
    font-size: 60px;
}

.movie button,
button.favorites-list {
    box-shadow: 5px 5px 10px #0c1e31;
}